/* Style the Meeting Minutes */

/*set font for page*/
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*set style for header*/
h1.meeting_title {
    font-size: 2.5rem;
}

h1, h2, h3 {
    font-family: 'Special Gothic Expanded One', sans-serif;
    word-wrap: break-word;
}

.header_container {
    box-sizing: border-box;
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}

header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #meeting_title {
        font-size: 1.5rem;
    }

    .header_container {
        width: 95%;
        padding: 1em;
    }
}

/*General CSS*/
* {
    box-sizing: border-box;
}

:root {
    --main-color: black;
}

ol {
    list-style-type: none;
}
a {
    color: #1C2541;
}

a:hover {
    color: #546CB6;
    text-decoration: none;
    padding: 5px;
}

a:active {
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav {
    border-style: solid;
    text-align: left;
    background-color: #6CC6C4;
}

main > section {
    border-color: black;
    background-color: white;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    & > img {
        border: black;
        border-width: 5px;
    }
}

section hr {
    border: none;
    height: 10px;
    background: hsl(180, 34%, 32%);
    border-radius: 5px;
    width: 100%;
}

main h2 {
    text-align: center;
}

h3[id="absent_title"] {
    color: red;
}

h3[id="present_title"] {
    color: green;
}

div:has(footer) {
    border-color: black;
    border-width: 5px;
}


/* Style Attendence Area */
.main_container {
    width: 90%;
    position: relative;
    display: inline-block;
}

h2 + h3 {
    color: green;
}

h3 ~ ol {
    color: #A7DDDC;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-weight: 1.5px;
}
#attendence_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

#present_list {
    padding: 1rem;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

#absent_list {
    padding: 1rem;
    border-radius: 10px;
    justify-self: start;
}

@media screen and (min-width: 522px) {
    #attendence_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}




/*set style for footer*/
.footer_container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color:color-mix(in hsl shorter hue, blue 50%, green 20%);
    background-size: cover;
    border-radius: 5px;
}

footer {
    /* position: absolute; */
    margin: 0% 0% 20px 20px;
    padding: 30px 30px 5px 5px;
    color: var(--main-color, (srgb 2 3 5 / 0.5));
    background-size: cover;
}
@media screen and (max-width: 600px) {
    .footer_container {
        width: 95%;
        padding: 1em;
    }
}